.browse-button {
    cursor: pointer;
    float: left;
    overflow: hidden;
    position: relative;
}
.browse-button button[type="button"] {
    cursor: pointer;
}
.browse-button input[type="file"] {
    width: 150px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}